body { background: #ccffee;
       color: #585858;
       font-size: 14pt; }
       body { font-family: 'Oswald', sans-serif; }
       h1 { font-size: 400%;
     font-weight: bold ;font-style: italic}
     <nav> <li> { display: inline-block }
     h1 { border: 10px solid }
a { color: lightgreen;
    text-decoration: underline; }
a:hover { color: lightgreen }

img { text-align:center }